<!-- Huge shoutout to https://github.com/nathangathright/podcast-platform-links/blob/main/schemes.md -->
<h1>Your feed is now available</h1>
<img src="{{ .Image }}" alt="Thumbnail for {{ .Title }}" height="100" width="100">
<h2>Subscribe</h2>
<ul>
  <li><a href="{{ .URL }}">RSS</a></li>
  <li><a href="overcast://x-callback-url/add?url={{ .URL }}">Overcast</a></li>
  <li><a href="https://antennapod.org/deeplink/subscribe?title={{ .Title }}&url={{ .URL }}">AntennaPod</a></li>
  <li><a href="googlepodcasts://{{ .URLPathEscaped }}">Google Podcasts</a></li>
  <li><a href="gpodder://{{ .URLPathEscaped }}">gPodder</a></li>
</ul>
